<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="main.asp"/>
      </files>
    </defaultDocument>
	<staticContent>
		<remove fileExtension=".svg"/>
		<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	</staticContent>
	<httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering>
	    <requestLimits maxAllowedContentLength="104857600" maxUrl="4096" maxQueryString="2048" />
	  </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
    
</configuration>